#statsgrid{
    -fx-hgap: 0px;
    -fx-vgap: 0px;
    -fx-grid-lines-visible: true; 
}

.statsvbox {
    -fx-padding: 10;
    -fx-spacing: 8;
}

.label {
        -fx-font: 16px "Verdana";
        -fx-text-alignment: center;
}

.titlelabel {
    -fx-font: 20px "Comic Sans MS";
}

.boroughButton {
<<<<<<< HEAD
<<<<<<< HEAD
    	-fx-min-width: 88px;
    	-fx-min-height: 80px;
    	-fx-background-color: rgba(00,00,00,0.0);
    	-fx-font-size: 18px;
    	-fx-text-fill: black;
=======
        -fx-min-width: 88px;
        -fx-min-height: 80px;
        -fx-background-color: rgba(00,00,00,0.2);
        -fx-font-size: 18px;
        -fx-text-fill: white;
>>>>>>> a9d04b57a6ac7e93e8c3fe1d3e6cbfde957a318b
=======
        -fx-min-width: 88px;
        -fx-min-height: 80px;
        -fx-background-color: rgba(00,00,00,0.2);
        -fx-font-size: 18px;
        -fx-text-fill: white;
>>>>>>> a9d04b57a6ac7e93e8c3fe1d3e6cbfde957a318b
}

.propertyViewerInfoLabels {
    -fx-padding: 10px;
    -fx-font: 12px "Verdana";
}

.title {
    -fx-underline: true;
    -fx-font-weight: bold;
}