#statsgrid{
    -fx-hgap: 0px;
    -fx-vgap: 0px;
    -fx-grid-lines-visible: true; 
}

.statsvbox {
    -fx-padding: 10;
    -fx-spacing: 8;
}

.label {
    -fx-font: 16px "Brush Script MT";
}

.titlelabel {
    -fx-font: 20px "Comic Sans MS";
}

.boroughButton {
    -fx-min-width: 94px;
    -fx-min-height: 94px;
    -fx-background-color: tomato;
    -fx-font-size: 20px;
    -fx-text-fill: white;
}