// -------------- universal ---------------------
.mainRoot {
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-alignment: center;
    -fx-background-color : floralwhite;
}

.mainRoot:Node {
    -fx-alignment: center;

}

.mainHeading {
    -fx-font: 30px "Ariel";
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-underline: true;
    -fx-font-weight: bold;
}
// -------------- universal ---------------------

#statsgrid{
    -fx-hgap: 0px;
    -fx-vgap: 0px;
    -fx-grid-lines-visible: true;
}

.statsvbox {
    -fx-padding: 10;
    -fx-spacing: 8;
}

.label {
        -fx-font: 16px "Ariel";
        -fx-text-alignment: center;
}

.labelSmall {
        -fx-font: 9px "Ariel";
        -fx-text-alignment: center;
}

.infoGrid {
        -fx-vgap: 10;
        -fx-hgap: 10;
        -fx-border-color: black;
        -fx-text-alignment: center;
        -fx-alignment: center;
}

.statslabels {
    -fx-font-weight: bold; 
}

.boroughButton {
        -fx-background-color: rgba(00,00,00,0.0);
        -fx-text-fill: black;
        -fx-border-width: 0;
        -fx-alignment: center;
}

.boroughButton:hover {
        -fx-text-fill: white;
}

.propertyViewerInfoLabels {
    -fx-padding: 10px;
    -fx-font: 12px "Verdana";
}

// ------------ welcome scene -------------------
.welcomeTitle {
    -fx-font: 30px "Ariel";
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-underline: true;
    -fx-font-weight: bold;
}

.welcomeVBox {
    -fx-text-alignmet: center;
    -fx-alignemt: center;
}

.welcomeVBox: Node {
    -fx-alignemt: center;
}

.instructionsTitle {
    -fx-font: 20px "Ariel";
    -fx-underline: true;
}

.instructions {
    -fx-font: 15px "Ariel";
    -fx-spacing: 5;
    -fx-wrap-text: true;
    -fx-text-alignment: justify;
}

.instructionsAndStart {
    -fx-padding: 10;
    -fx-spacing: 8;
    -fx-alignment: center
}

.startButton {
    -fx-font: 25px "Ariel";
    -fx-padding: 20;
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 2 );
    -fx-background-color: indigo;
    -fx-text-fill: white;
}

.startButton:hover {
    -fx-font: 30px "Ariel";
    -fx-background-color: orange;
}

.startButton:pressed {
    -fx-background-color: black;
}
// ------------ welcome scene -------------------

// ------------- price scene --------------------
.priceTitle {
    -fx-font: 30px "Ariel";
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-underline: true;
    -fx-font-weight: bold;
}

.priceInstruction {
    -fx-font: 20px "Ariel";
    -fx-font-weight: bold;
}

.priceTitleAndTitle {
    -fx-alignment: center;
}

.priceConfirm {
    -fx-background-color: white;
}

.priceConfirm: hover {
    -fx-background-color: indigo;
    -fx-text-fill: white;
    -fx-font: 28px "Ariel";
}

.priceConfirm: pressed {
    -fx-background-color: black;
}

.priceMinMaxBoxes {
    -fx-background-color: white;
}

.priceMinMaxBox {
    -fx-alignment: center;
    -fx-font: 25px "Ariel";
}

// ------------- price scene --------------------

// -------------- map scene ---------------------
.tooltip {
    -fx-font: 12px "Ariel";
    
}
// -------------- map scene ---------------------

// ------------- property viewer --------------------
.rootPV {
    -fx-background-color : aliceblue;
}
.title {
     -fx-font: 12px "Verdana";
     -fx-font-weight: bold;
}

#hbox {
    -fx-spacing: 120;
    -fx-alignment: center;
}
.buttonsPV:hover {
    -fx-font: 14px "Ariel";
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 2 );
}

#menu  {
    -fx-font: 12px "Verdana";
    -fx-font-weight: bold;
}

// ------------- Booking Window --------------------
#rootBooking {
    -fx-padding: 30;
    -fx-background-color : aliceblue;
}
#propertyLabel {
    -fx-font: 20px "Times New Roman";
    -fx-font-weight: bold;
}
.subLabels  {
    -fx-font: 15px "Times New Roman";
    -fx-font-weight: bold;
}
